* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
	font-family: 'Signika', sans-serif;
	color: #000;
	text-align: center;
	background-color: #eabeab;
}
.navbar-brand {
  text-shadow: 1.5px 1.5px 1.5px #888;
  text-decoration: none;
}
.navbar {
  background-color: #ebbebb;
  border: none;
  vertical-align: middle;
  box-shadow: 0 0 10px #888
}
header.navbar, .container{
  width: 95%;
}
.container{
  padding: 0.5%;
}
a {
  color: black;
}
a span{
  position: absolute;
  font-size: 2.4em;
  font-color: #000;
}
h1 {
  font-family: 'Dancing Script', cursive;
  font-weight:bold;
  font-size: 2.7em;
  margin-bottom: 35px;
}
.container{
  padding: 0.5%;
}
section.container {
  position: relative;
  border: 1px solid black;
  padding: 1%;
  background-color: #fff;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.7em;
  padding: 5px;
}
p {
  padding: 5px;
  padding-bottom: 0;
}

@media (min-width: 992px){
  .col-md-4 {
      float:left;
      margin: -1%;
      margin-left: 2.5%;
      margin-bottom: 2.5%;
      width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6 {
      float:left;
      margin-left: 2.5%;
      margin-bottom: 2.5%;
      width: 46.25%;
  }
  .col-sm-12 {
    float: left;
    margin-left:2.5%;
    margin-bottom: 25px;
    width: 95%;
  }
}

@media (max-width: 767px) {
  .col-xs-12 {
    float: left;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    width: 95%;
  }
}